@font-face {
	font-family: 'TT Firs Text';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/tt-firs-bold.otf') format('otf');
	src: url('./fonts/tt-firs-bold.woff') format('woff');
}
@font-face {
	font-family: 'TT Firs Text';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/tt-firs-demibold.otf') format('otf');
	src: url('./fonts/tt-firs-demibold.woff') format('woff');
}
@font-face {
	font-family: 'TT Firs Text';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/tt-firs-medium.otf') format('otf');
	src: url('./fonts/tt-firs-medium.woff') format('woff');
}
@font-face {
	font-family: 'TT Firs Text';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/tt-firs-normal.otf') format('otf');
	src: url('./fonts/tt-firs-normal.woff') format('woff');
}
@font-face {
	font-family: 'TT Firs Text';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/tt-firs-regular.otf') format('otf');
	src: url('./fonts/tt-firs-regular.woff') format('woff');
}

.container {
	max-width: 1920px !important;
	width: 100% !important;
	padding-inline: 20px;
	margin-inline: auto;

	@include tablet {
		
	padding-inline: 10px;
	}
}

* {
	color: var(--text-color);
	position: relative;
	font-family: 'TT Firs Text';
	font-weight: 400;
}
html {
	scrollbar-gutter: stable;
	height: auto;
}

body {
	font-family: 'TT Firs Text';
	scrollbar-gutter: stable;
	font-weight: 400;
	line-height: 120%;
	color: var(--text-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
	position: relative;
	overflow-x: hidden;

	&.fixed {
		overflow: hidden;
	}

	@include fluid-text(16, 16);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
/* custom lightbox */
.pswp__zoom-wrap {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
img.pswp__img {
    width: initial !important;
    margin: auto;
    position: relative;
}
.btn-blue {
    background: #4A3AD9;
    color: #FFF;
    font-size: 1em;
    padding: 1em;
    border-radius: 7px;
    border: none;
}
.font-blue {
    color: #4A3AD9 !important;
}
.font-white {
    color: #FFF !important;
}
.marked-parse-block {
    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }
    a {
        color: #4A3AD9;
        font-weight: 600;
    }
    p {
        margin-bottom: 1em;
    }
}
.custom-checkbox {
    display: flex;
    align-items: center;
    input {
      display: none;
    }

    .checkmark {
        display: inline-block;
        width: 2.75em;
        height: 2.75em;
        border: 1px solid rgba(51, 51, 51, 0.3);
        border-radius: 7px;
        position: relative;
        transition: background-color 0.3s, border-color 0.3s;
        margin-right: 1em;
    }

    input:checked + .checkmark::after {
        content: "";
        position: absolute;
        left: 0.9em;
        top: 0.5em;
        width: 0.75em;
        height: 1.38em;
        border: solid #333;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0.6;
    }
}
