@mixin fluid-text($max:25, $min:20){
    font-size: clamp(#{$min}px, #{calc($max / 1600 * 100)}vw, #{$max}px);
}

@mixin abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin grid-column($col) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    column-gap: 20px;
}


@mixin hover {
    @media (hover: hover) {
        &:hover{
            @content;
        }
    }

    @media (hover: none) {
        &:active{
            @content;
        }
    }
}

@mixin scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}